<section
class="text-center bg-gray-500 min-h-[calc(100vh-100px-10vh-50px)] lg:h-[calc(100vh-100px-10vh)] flex justify-center items-center text-white gradient-hero flex-col"
>
<h1 class="text-4xl font-bold w-[90%] lg:text-6xl lg:w-[80%]">
  <span class="text-gradient">Plano de Saúde:</span><br />Encontre o Plano
  Ideal para <br class="hiddren 2xl:block">Sua Empresa
</h1>
<p class="w-[75%] mt-5 brand-text-gray-color lg:text-2xl lg:w-[30%]">
  Compre Online com Rapidez e Segurança - Planos de Saúde para todos os
  Orçamentos"
</p>
<span class="mt-10">Cotação rápida e 100% Online.</span>
<button class="bg-blue-500 px-12 py-4 rounded-lg mt-4">Simule agora</button>
</section>