<section
  class="bg-gray-500 min-h-[calc(100vh-100px-10vh-50px)] lg:h-[calc(100vh-100px-10vh)] flex justify-center items-start text-white gradient-hero flex-col"
>
  <div class="container m-auto lg:flex text-center lg:text-left">
    <div>
      <p class="lg:text-2xl brand-text-gray-color font-medium">
        Seja Bem vindo a Oplan
      </p>
      <h1 class="text-7xl font-bold lg:text-8xl">
        A sua melhor <br />
        escolha em <br />
        <span class="text-gradient">Planos de Saúde</span>
      </h1>
      <p class="mt-5 brand-text-gray-color lg:text-3xl">
        Produtos personalizados, feitos sob medida para a sua empresa.
      </p>
    </div>
    <div
      class="hidden lg:block p-10 text-white rounded-[22px] brand-gray-800 m-auto shadow-2xl drop-shadow-2xl"
    >
      <p class="lg:text-2xl mb-6 text-center">
        Receba uma proposta <br /> personalizada para sua empresa
      </p>
      <form action="">
        <input
          class="w-full rounded-lg p-4 text-gray-700 text-2xl"
          type="text"
          placeholder="Seu nome"
        />
        <br />
        <input
          class="w-full rounded-lg p-4 text-gray-700 text-2xl mt-3"
          type="text"
          placeholder="Telefone ou WhatsApp"
        />
        <br />
        <button class="w-full rounded-lg p-4 bg-cyan-500 text-2xl mt-6"
          >Receber Proposta</button
        >
      </form>
    </div>
  </div>
</section>
