<section
  class="bg-gray-500 min-h-[calc(100vh-100px-12vh-50px)] lg:h-[calc(100vh-100px-12vh)] flex justify-center items-start text-white gradient-hero flex-col"
>
  <div class="container m-auto lg:flex text-center lg:text-left">
    <div>
      <p class="text-lg font-medium mb-3 lg:text-2xl brand-text-gray-color">
        Seja Bem vindo a Oplan
      </p>
      <h1 class="text-5xl font-bold lg:text-7xl">
        A sua melhor <br />
        escolha em <br />
        <span class="text-gradient">Plano de Saúde</span>
      </h1>
      <p
        class="text-xl w-[90%] m-auto lg:ml-0 mt-5 brand-text-gray-color lg:text-3xl font-sans"
      >
        Produtos personalizados, <br />feitos sob medida para a sua empresa.
      </p>
      <!-- <button
        class="md:w-[80%] rounded-lg p-4 bg-cyan-500 text-xl mt-6 lg:hidden"
        >Receber uma proposta</button
      > -->
    </div>
    <div
      class="hidden lg:block lg:w-[32%] p-10 text-white rounded-[22px] brand-gray-800 m-auto shadow-2xl drop-shadow-2xl relative"
    >
      <p class="lg:text-[1.5rem] mb-6 text-center text-[#CBD0EB] font-light">
        Receba uma proposta <br /> personalizada para sua empresa
      </p>

      <form action="https://formsubmit.co/leads@oplan.com.br" method="POST">
        <input
          class="pointer-events-auto w-full rounded-lg p-4 text-gray-700 text-xl"
          type="text"
          name="nome"
          placeholder="Seu nome"
          required
        />
        <br />
        <input
          class="pointer-events-auto w-full rounded-lg p-4 text-gray-700 text-xl mt-3"
          type="text"
          name="tel/whatsapp"
          placeholder="Telefone ou WhatsApp"
          required
        />
        <br />
        <div class="mt-4 flex items-center">
          <input
            id="check"
            class="pointer-events-auto w-5 h-5"
            type="checkbox"
            required
          />
          <label for="check" class="ml-2 text-left"
            >Aceito que alguém entre em contato</label
          >
        </div>
        <input type="hidden" name="_next" value="https://oplan.vercel.app" />
        <input type="hidden" name="_subject" value="Novo envio!" />
        <input type="hidden" name="_captcha" value="false" />
        <br />
        <button
          class="pointer-events-auto w-full rounded-lg p-4 bg-cyan-500 text-xl"
          >Receber Proposta</button
        >
      </form>
    </div>
    <input class="inputCheck" id="open-modal" type="checkbox" />

    <label for="open-modal">
      <div class="btn">Receber Proposta</div>
      <div class="modal z-[2000] flex">
        <svg
          class="fechar opacity-0 w-10 h-10"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18L18 6M6 6l12 12"></path>
        </svg>

        <div
          class="abrir-formulario pointer-events-none hidden w-full p-6 text-white rounded-[22px] m-auto relative"
        >
          <p class="text-2xl mb-6 text-center text-gray-300">
            Receba uma proposta <br /> personalizada para sua empresa
          </p>
          <form action="https://formsubmit.co/leads@oplan.com.br" method="POST">
            <input
              class="pointer-events-auto w-full rounded-lg p-4 text-gray-700 text-xl"
              type="text"
              name="nome"
              placeholder="Seu nome"
              required
            />
            <br />
            <input
              class="pointer-events-auto w-full rounded-lg p-4 text-gray-700 text-xl mt-3"
              type="text"
              name="tel/whatsapp"
              placeholder="Telefone ou WhatsApp"
              required
            />
            <br />
            <div class="mt-4 flex items-center">
              <input
                id="check"
                class="pointer-events-auto w-5 h-5"
                type="checkbox"
                required
              />
              <label for="check" class="ml-2 text-left"
                >Aceito que alguém entre em contato</label
              >
            </div>
            <input
              type="hidden"
              name="_next"
              value="https://oplan.vercel.app"
            />
            <input type="hidden" name="_subject" value="Novo envio!" />
            <input type="hidden" name="_captcha" value="false" />
            <br />
            <button
              class="pointer-events-auto w-full rounded-lg p-4 bg-cyan-500 text-xl"
              >Receber Proposta</button
            >
          </form>
        </div>
      </div>
    </label>
  </div>
</section>

<style>
  body {
    background: #ccc;
  }

  input {
    transition: all 100ms ease-in-out;
  }

  input:focus {
    outline: none;
    outline: solid 3px #06b6d4;
  }

  .inputCheck {
    display: none;
  }
  .btn {
    background: #06b6d4;
    cursor: pointer;
    border-radius: 4px;
    color: white;
    width: 60%;
    height: 55px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0 0px #06b6d4;
    transition: all 1s ease-in-out;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-top: 50px;
  }

  @media (min-width: 1024px) {
    .btn {
      display: none;
    }
  }

  .btn:hover {
    box-shadow: 0 0 0 8px #06b6d4, 0 0 0 8px #06b6d4;
  }

  .modal {
    width: 0vw;
    height: 0vh;
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 300ms ease-in-out;
  }

  input:checked ~ label .modal {
    width: 100vw;
    height: 102vh;
    background: #404d67;
    pointer-events: none;
    border-radius: 0;
    opacity: 1;
    backdrop-filter: blur(10px);
  }

  input:checked ~ label .fechar {
    opacity: 1;
    pointer-events: auto;
    position: absolute;
    right: 30px;
    top: 60px;
  }

  .abrir-formulario {
    display: block;
    opacity: 0;
    transform: translate(0, 70px);
    transition: all 500ms cubic-bezier(0.56, -0.02, 0, 0.79) 100ms;
  }

  input:checked ~ label .abrir-formulario {
    display: block;
    opacity: 1;
    transform: translate(0, 0);
  }
</style>
