

<div id="listaMenu" class="hidden w-[320px] h-auto bg-gray-100 rounded-lg absolute z-[50] right-0 top-12 shadow-2xl animar-mola p-2">
    <ul>
        <li class="animar-sub-menu flex gap-2 border-b border-gray-200 py-3 px-2 hover:bg-white houver:rounded-md">
            <svg class="w-6 text-blue-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25" />
              </svg>
              
            <p class="w-100%">Regulamentações ANS</p>
        </li>
        <ul id="listaSubMenu" class="hidden h-auto bg-gray-300 rounded-md animar-sub">
            <li class="p-3 text-left  border-b border-gray-200"><a href="./"></a>Reajuste ANS 2015</li>
            <li class="p-3 text-left  border-b border-gray-200"><a href="./"></a>Reajuste ANS 2016</li>
            <li class="p-3 text-left"><a href="./"></a>Reajuste ANS 2017</li>
        </ul>


        <li class="animar-sub-menu flex gap-2 py-3 px-2 hover:bg-white houver:rounded-md">
            <svg class="w-6 text-blue-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M11.48 3.499a.562.562 0 011.04 0l2.125 5.111a.563.563 0 00.475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 00-.182.557l1.285 5.385a.562.562 0 01-.84.61l-4.725-2.885a.563.563 0 00-.586 0L6.982 20.54a.562.562 0 01-.84-.61l1.285-5.386a.562.562 0 00-.182-.557l-4.204-3.602a.563.563 0 01.321-.988l5.518-.442a.563.563 0 00.475-.345L11.48 3.5z" />
              </svg>
            <p class="w-100%">Qualificação de Operadoras</p>
        </li>
        <ul id="listaSubMenu" class="hidden h-auto bg-gray-300 rounded-md">
            <li class="p-3 text-left  border-b border-gray-400"><a href="./"></a>Reajuste ANS 2015</li>
            <li class="p-3 text-left  border-b border-gray-400"><a href="./"></a>Reajuste ANS 2016</li>
            <li class="p-3 text-left"><a href="./"></a>Reajuste ANS 2017</li>
        </ul>

    </ul>
</div>


<script>
    import '../ButtonDocs'
</script>