---
import Header from "../components/Header/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Blog">
  <Header />
  <h1 class="text-5xl text-center">Página Blog</h1>
</Layout>
