---
import Header from "../components/Header/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contato">
  <Header />
  <h1 class="text-5xl text-center">Página Contato</h1>
</Layout>
