---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header/Header.astro";
import Hero from "../components/Hero/Hero.astro";
import ServicesNav from "../components/ServicesNav/ServicesNav.astro";
import SectionAbout from "../components/SectionAbout/SectionAbout.astro";
---

<Layout title="Oplan - Planos de Saúde">
  <Header />
  <Hero />
  <ServicesNav />
  <!-- <section class="hidden lg:flex h-[450px] bg-gray-200">
    <div
      class="container h-full m-auto flex gap-11 items-center justify-center"
    >
      <div class="">
        <div class="w-80 h-80 bg-gray-300"></div>
      </div>

      <div class="w-[40%]">
        <h1 class="text-7xl text-gray-700">Quem Somos</h1>
        <p class="pt-6">
          Somos uma empresa localizada em Itaguaí, atendemos ao público local e
          costa verde. Temos uma estrutura moderna pronto para atender a sua
          empresa Atuamos mais de 20 anos no mercado. Conheça nossa rede
          credenciada
        </p>
      </div>
    </div>
  </section> -->
  <!-- <SectionAbout /> -->
  <footer class="m-auto p-20 bg-slate-200 text-center">
    <a class="container m-auto flex justify-center" href="./">
      <img
        src="https://res.cloudinary.com/dbjzaupe7/image/upload/v1675645218/logo_yvwace.svg"
        alt="Logo Oplan"
        width={205}
        height={36}
      />
    </a>
    <p class="bg-slate-100 mt-6 text-lg text-slate-600">Copyright © 2023 Oplan - Todos os direitos reservados.</p>
  </footer>
</Layout>
