---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header/Header.astro";
import Footer from "../components/Footer/Footer.astro";
import Topbar from "../components/react/Topbar.jsx";
---

<Layout title="Oplan - Planos de Saúde">
  <Header />
  <main class="flex-1">
    <!-- TOPBAR -->
    <Topbar client:load />
  </main>
  <Footer />
</Layout>
