---
import Layout from '../layouts/Layout.astro';
import { Image } from '@astrojs/image/components';
---

<Layout title="Oplan - Planos de Saúde">
	<header class="flex justify-between items-center w-screen h-[95px] p-7 bg-white shadow-lg">
		<Image src="https://res.cloudinary.com/dbjzaupe7/image/upload/v1675645218/logo_yvwace.svg" alt="Logo Oplan" width={128} height={36} />
		<Image class="cursor-pointer" src="https://res.cloudinary.com/dbjzaupe7/image/upload/v1675645218/icon-menu_laqjft.svg" width={35} height={35} alt="Menu" />
	</header>
	<section class="bg-gray-500 min-h-[calc(100vh-100px-70px)]">
		<h1 class="text-center text-4xl font-bold w-[90%]">Plano de Saúde: <br>Encontre o Plano Ideal para Sua Empresa</h1>
	</section>
</Layout>
