---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header/Header.astro";
import Hero from "../components/Hero/Hero.astro";
import ServicesNav from "../components/ServicesNav/ServicesNav.astro";
import SectionAbout from "../components/SectionAbout/SectionAbout.astro";
---

<Layout title="Oplan - Planos de Saúde">
  <Header />
  <Hero />
  <ServicesNav />
  <!-- <section class="hidden lg:flex h-[450px] bg-gray-200">
    <div
      class="container h-full m-auto flex gap-11 items-center justify-center"
    >
      <div class="">
        <div class="w-80 h-80 bg-gray-300"></div>
      </div>

      <div class="w-[40%]">
        <h1 class="text-7xl text-gray-700">Quem Somos</h1>
        <p class="pt-6">
          Somos uma empresa localizada em Itaguaí, atendemos ao público local e
          costa verde. Temos uma estrutura moderna pronto para atender a sua
          empresa Atuamos mais de 20 anos no mercado. Conheça nossa rede
          credenciada
        </p>
      </div>
    </div>
  </section> -->
  <!-- <SectionAbout /> -->
  <section class="min-h-[800px] bg-white flex flex-col justify-center items-center w-screen">
    <div>
      <img class="w-[70px] m-auto lg:w-[80px]" src="./images/icon-atendimento.png" alt="icone atendimento">
      <h3 class="text-center text-2xl text-[#5B5B5B] lg:text-4xl">Nossos canais de atendimento</h3>
    </div>

    <main class="mt-6 flex flex-col container w-full p-5">
      <div class="flex gap-2 flex-col lg:flex-row">
        <div class="border-2 border-sky-500 p-3 rounded-2xl w-full flex">
          <img class="h-[60px] mr-3" src="./images/icon-cadastro.png" alt="">
          <div>
            <h4 class="text-[#308AB2] text-lg font-medium">Gostaria de falar com o Cadastro?</h4>
            <p>Movimentação Cadastral, exclusão, inclusão</p>
            <p class="font-2xl">(21) 2391-9645  (Opção 5)</p>
            <p>cadastro@oplan.com.br</p>
          </div>
        </div>
        <div class="border-2 border-sky-500 p-3 rounded-2xl w-full flex">
          <img class="h-[60px] mr-3" src="./images/icon-comercial.png" alt="">
          <div>
            <h4 class="text-[#308AB2] text-lg font-medium">Assunto Comercial?</h4>
            <p>Relatórios, reajustes, coberturas, boletos</p>
            <p class="font-2xl">(21) 2391-9645 (Opção 1) </p>
            <p>comercial@oplan.com.br</p>
          </div>
        </div>
      </div>
      <div>
        <div class="mt-3 border-2 bg-[#363E52] p-10 py-8 rounded-2xl w-full flex flex-col justify-around text-white lg:flex-row lg:justify-start lg:items-center lg:gap-20">
          <div class="w-[500px]">
            <p class="text-xl">Reclamações e Elogios!</p>
            <p class="text-sm">Relatórios, reajustes, coberturas, boletos</p>
          </div>
          <div class="flex justify-between mt-5">
            <div>
              <p class="text-2xl font-medium">SAC</p>
              <p>(21) 2391-9645</p>
              <p>sac@oplan.com.br</p>
            </div>
            <div>
              <p class="text-2xl font-medium">Ouvidoria</p>
              <p>comercial@oplan.com.br</p>
            </div>
          </div>
        </div>
      </div>
    </main>

  </section>
  <footer class="m-auto p-20 bg-slate-200 text-center">
    <a class="container m-auto flex justify-center" href="./">
      <img
        src="https://res.cloudinary.com/dbjzaupe7/image/upload/v1675645218/logo_yvwace.svg"
        alt="Logo Oplan"
        width={205}
        height={36}
      />
    </a>
    <p class="mt-4 text-md text-slate-600">Copyright © 2023 Oplan - Todos os direitos reservados.</p>
  </footer>
</Layout>
