---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header/Header.astro";
import Hero from "../components/Hero/Hero.astro";
import Footer from "../components/Footer/Footer.astro";
import ServicesNav from "../components/ServicesNav/ServicesNav.astro";
import SectionAbout from "../components/SectionAbout/SectionAbout.astro";
---

<Layout title="Oplan - Planos de Saúde">
  <Header />
  <Hero />
  <!-- <ServicesNav /> -->
  <!-- <section class="hidden lg:flex h-[450px] bg-gray-200">
    <div
      class="container h-full m-auto flex gap-11 items-center justify-center"
    >
      <div class="">
        <div class="w-80 h-80 bg-gray-300"></div>
      </div>

      <div class="w-[40%]">
        <h1 class="text-7xl text-gray-700">Quem Somos</h1>
        <p class="pt-6">
          Somos uma empresa localizada em Itaguaí, atendemos ao público local e
          costa verde. Temos uma estrutura moderna pronto para atender a sua
          empresa Atuamos mais de 20 anos no mercado. Conheça nossa rede
          credenciada
        </p>
      </div>
    </div>
  </section> -->
  <!-- <SectionAbout /> -->

  <section
    class="bg-about-background w-screen sm-h-[300px] h-[500px]  bg-no-repeat bg-bottom bg-[length:auto_100%] xl:bg-[length:100vw_600px] text-center flex flex-col justify-center items-center"
  >
    <img class="w-[80px]" src="./images/SVG/logo-favicon-oplan.svg" alt="" />
    <h1 class="text-center  text-4xl text-[#5B5B5B] lg:text-5xl">Quem Somos</h1>
    <p class="text-[#51596b] text-xl w-[80%] md:w-[40%] pt-6">
      Somos uma empresa de planos de saúde comprometida em oferecer aos nossos
      clientes saúde de qualidade, de forma acessível e humanizada. Temos uma
      ampla rede própria e credenciada de profissionais, hospitais e clínicas,
      garantindo uma cobertura abrangente.
    </p>
  </section>
  <section class="rede-propria text-[#51596b] text-center container m-auto relative">
    <img class="sm: w-[70px] md:w-[100px] absolute top-[-50px] left-10" src="./images/selo-ona.png" alt="">
    <h1 class="text-center text-3xl text-[#5B5B5B] lg:text-4xl mt-10 md:mb-5 lg:mb-0">Rede Própria</h1>
    <main class="flex flex-col md:flex-row">
      <div class="w-full">
        <img src="./images/predio-hospital-hgi.png" alt="Foto Hospital Geral Itaguaí">
      </div>
      <div class="w-full text-center md:text-start flex flex-col justify-center">
        <img class="w-14 mx-auto md:ml-0" src="./images/SVG/icon-hospital.svg" alt="Ícone Hospital">
        <h2 class="text-3xl text-[#1D8DE3] font-medium">Hospital Geral<br> Itaguaí</h2>
        <p class="pt-3 w-[80%] md:w-full mx-auto">Bem-vindo ao nosso hospital geral, onde o cuidado com a sua saúde é nossa prioridade máxima. Nosso objetivo é oferecer um atendimento médico de qualidade, com uma equipe altamente capacitada e uma infraestrutura moderna e completa, garantindo o melhor tratamento para nossos pacientes.</p>
        <div class="mt-4">
          <ul class="flex gap-3 sm:w-[90%] flex-wrap text-sm justify-center md:justify-start">
            <li>
              <p class="px-4 py-2 bg-slate-200 rounded-lg">Segurança</p>
            </li>
            <li>
              <p class="px-4 py-2 bg-slate-200 rounded-lg">Qualidade</p>
            </li>
            <li>
              <p class="px-4 py-2 bg-slate-200 rounded-lg">Moderno</p>
            </li>
            <li>
              <p class="px-4 py-2 bg-slate-200 rounded-lg">Amplo</p>
            </li>
            <li>
              <p class="px-4 py-2 bg-slate-200 rounded-lg">Tecnológico</p>
            </li>
          </ul>
        </div>
      </div>
    </main>
    <div class="w-full">
      <ul class="flex justify-between gap-3 mt-4">
        <li>
          <img src="./images/ft-hospital1.png" alt="Foto 1">
        </li>
        <li>
          <img src="./images/ft-hospital2.png" alt="Foto 2">
        </li>
        <li>
          <img src="./images/ft-hospital3.png" alt="Foto 3">
        </li>
        <li>
          <img src="./images/ft-hospital4.png" alt="Foto 4">
        </li>
      </ul>
    </div>
  </section>

  <section
    class="min-h-[800px]  flex flex-col justify-center items-center w-screen"
  >
    <div>
      <img
        class="w-[70px] m-auto lg:w-[80px]"
        src="./images/icon-atendimento.png"
        alt="icone atendimento"
      />
      <h3 class="text-center text-2xl text-[#5B5B5B] lg:text-4xl">
        Nossos canais de atendimento
      </h3>
    </div>

    <main class="mt-6 flex flex-col container w-full p-5">
      <div class="flex gap-2 flex-col lg:flex-row">
        <div class="border-2 border-slate-300 p-3 rounded-lg w-full flex">
          <img
            class="h-[40px] mt-1 mr-3"
            src="./images/icon-cadastro.png"
            alt=""
          />
          <div>
            <h4 class="text-[#308AB2] text-xl font-medium lg:text-xl">
              Falar com o Cadastro?
            </h4>
            <p class="text-[#5B5B5B] font-medium lg:text-lg mt-[-6px]">
              Movimentação Cadastral, exclusão, inclusão
            </p>
            <p class="font-2xl opacity-80 mt-2">(21) 2391-9645 (Opção 5)</p>
            <p class="opacity-80">cadastro@oplan.com.br</p>
          </div>
        </div>
        <div class="border-2 border-slate-300 p-3 rounded-lg w-full flex">
          <img
            class="h-[40px] mt-1 mr-3"
            src="./images/icon-comercial.png"
            alt=""
          />
          <div>
            <h4 class="text-[#308AB2] text-xl font-medium lg:text-xl">
              Assunto Comercial?
            </h4>
            <p class="text-[#5B5B5B] font-medium lg:text-lg mt-[-6px]">
              Relatórios, reajustes, coberturas, boletos
            </p>
            <p class="font-2xl opacity-80 mt-2">(21) 2391-9645 (Opção 1)</p>
            <p class="opacity-80">comercial@oplan.com.br</p>
          </div>
        </div>
      </div>
      <div>
        <div
          class="mt-3 border-2 bg-[#363E52] p-6 py-8 rounded-lg w-full flex flex-col justify-around text-white lg:flex-row lg:justify-start lg:items-center lg:gap-20"
        >
          <div>
            <p class="text-xl">Reclamações e Elogios!</p>
            <p class="text-sm opacity-80">
              Relatórios, reajustes, coberturas, boletos
            </p>
          </div>
          <div class="flex justify-between mt-5">
            <div>
              <p class="text-xl font-medium">SAC</p>
              <p class="opacity-80">(21) 2391-9645</p>
              <p class="opacity-80">sac@oplan.com.br</p>
            </div>
            <div class="lg:ml-14">
              <p class="text-xl font-medium">Ouvidoria</p>
              <p class="text-sm opacity-80">ouvidoria@oplan.com.br</p>
            </div>
          </div>
        </div>
      </div>
    </main>
  </section>
  <Footer />
</Layout>
