---
import Layout from "../../layouts/Layout.astro"
---

<Layout title="IDSS Ano 2022">
  <section class=" container mx-auto text-3xl sm:mt-[100px]">
    <h1 class="text-2 bg-[#404D67] text-white p-10 rounded">Programa de Qualificação</h1>
    <div class="p-10 bg-white h-scre">
      <p class="text-4xl">IDSS Ano 2022</p> 
    </div>
    <article class="p-10">
      <div class=" bg-slate-200 h-[400px] w-full">

      </div>
    </article>
  </section>
</Layout>