---
import ListaMenu from "./ListaMenu/ListaMenu.astro";
---

<header class="bg-white shadow-lg">
  <div
    class="flex m-auto container justify-between items-center w-screen h-[105px] p-5 lg:p-0"
  >
    <a href="./"
      ><img
        src="https://res.cloudinary.com/dbjzaupe7/image/upload/v1675645218/logo_yvwace.svg"
        alt="Logo Oplan"
        width={205}
        height={36}
      /></a
    >
    <nav>
      <ListaMenu />
      <div id="menuIcon">
        <img
          class="cursor-pointer lg:hidden"
          src="https://res.cloudinary.com/dbjzaupe7/image/upload/v1675645218/icon-menu_laqjft.svg"
          width={33}
          height={33}
          alt="Menu"
        />
      </div>
    </nav>
  </div>
</header>

<script>
  import "./ListaMenu";
</script>
