<header class="bg-white shadow-lg">
    <div class="flex m-auto container justify-between items-center w-screen h-[95px] p-7 ">
      <a href="./"
      ><img
        src="https://res.cloudinary.com/dbjzaupe7/image/upload/v1675645218/logo_yvwace.svg"
        alt="Logo Oplan"
        width={128}
        height={36}
      /></a
    >
    <nav>
      <ul class="hidden lg:flex items-center gap-6 brand-text-menu-gray-color">
        <li>
          <a href="./">Inicio</a>
        </li>
        <li>
          <a href="./">Sobre</a>
        </li>
        <li>
          <a href="./">Blog</a>
        </li>
        <li>
          <a href="./">Contato</a>
        </li>
        <button class="hidden lg:flex items-center gap-1 border-2 border-blue-400 px-8 py-2 rounded-lg font-medium ml-10">
          <p>Docs</p>
          <svg class="w-4 h-4 stroke-2 stroke-blue-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
          </svg>        
        </button>
      </ul>
      <div>
  
        <img
        class="cursor-pointer lg:hidden"
        src="https://res.cloudinary.com/dbjzaupe7/image/upload/v1675645218/icon-menu_laqjft.svg"
        width={34}
        height={34}
        alt="Menu"
      />
      </div>
    </nav>
    </div>
    </header>