---
import ButtonDocs from "../ButtonDocs/ButtonDocs.astro";
---

<header class="bg-white shadow-lg">
    <div class="flex m-auto container justify-between items-center w-screen h-[95px] p-7 ">
      <a href="./"
      ><img
        src="https://res.cloudinary.com/dbjzaupe7/image/upload/v1675645218/logo_yvwace.svg"
        alt="Logo Oplan"
        width={128}
        height={36}
      /></a
    >
    <nav>
      <ul class="hidden lg:flex items-center gap-6 brand-text-menu-gray-color">
        <li>
          <a href="./">Inicio</a>
        </li>
        <li>
          <a href="./">Sobre</a>
        </li>
        <li>
          <a href="./">Blog</a>
        </li>
        <li>
          <a href="./">Contato</a>
        </li>
        <ButtonDocs />
      </ul>
      <div>
  
        <img
        class="cursor-pointer lg:hidden"
        src="https://res.cloudinary.com/dbjzaupe7/image/upload/v1675645218/icon-menu_laqjft.svg"
        width={34}
        height={34}
        alt="Menu"
      />
      </div>
    </nav>
    </div>
    </header>