---
import ButtonDocs from "../../ButtonDocs/ButtonDocs.astro";
---

<ul
  id="menuLista"
  class="animar-menu-principal hidden lg:flex items-center gap-6 brand-text-menu-gray-color"
>
  <li
    class="p-5 text-xl active:bg-blue-500 active:text-white lg:active:bg-white lg:active:text-gray-800 active:rounded-xl w-full text-center lg:p-0 lg:text-xl">
    <a href="./">Inicio</a>
  </li>
  <li
    class="p-5 text-xl active:bg-blue-500 active:text-white lg:active:bg-white lg:active:text-gray-800 active:rounded-xl w-full text-center lg:p-0 lg:text-xl"
  >
    <a href="https://oplan.vercel.app/about">Sobre</a>
  </li>
  <li
    class="p-5 text-xl active:bg-blue-500 active:text-white lg:active:bg-white lg:active:text-gray-800 active:rounded-xl w-full text-center lg:p-0 lg:text-xl"
  >
    <a href="./">Blog</a>
  </li>
  <li
    class="p-5 text-xl active:bg-blue-500 active:text-white lg:active:bg-white lg:active:text-gray-800 active:rounded-xl w-full text-center lg:p-0 lg:text-xl"
  >
    <a href="./">Contato</a>
  </li>
  <ButtonDocs />
</ul>

<style>
  .mobile-collapse {
    display: flex;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 105px;
    height: auto;
    width: 100vw;
    background-color: #363e52;
    flex-direction: column;
    padding: 20px;
  }
</style>

<script>
  import "../ListaMenu";
</script>
