---
import ButtonDocs from "../../ButtonDocs/ButtonDocs.astro";
---


<ul id="menuLista" class="animar-menu-principal hidden lg:flex items-center gap-6 brand-text-menu-gray-color">
        <li>
          <a href="./">Inicio</a>
        </li>
        <li>
          <a href="./">Sobre</a>
        </li>
        <li>
          <a href="./">Blog</a>
        </li>
        <li>
          <a href="./">Contato</a>
        </li>
        <ButtonDocs />
</ul>


<style>
    .mobile-collapse {
        display: flex;
        position: fixed;
        z-index: 10;
        left: 0;
        top: 95px;
        height: 100vh;
        width: 100vw;
        background-color: #363E52;
        flex-direction: column;
        padding: 20px;
    }
</style>

<script>
    import '../ListaMenu'
</script>